@model AEFINAL.Models.Vehiculo

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>Los cambios que realices no podran dar marcha atras</h3>
<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            Documento del dueño
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientedocumentoNavigation.Documento)
        </dd>
        <dt class="col-sm-2">
           Nombre del Dueño
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientedocumentoNavigation.NombreCompleto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Matricula" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="btn btn-dark" asp-action="Index">Volver al listado</a>
    </form>
</div>
