@model AEFINAL.Models.Registro

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estas seguro de eliminar este registro?</h3>
<div>
    <h4>Registro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Servicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Servicio.Id)
        </dd>
        <dt class = "col-sm-2">
           Matricula del vehiculo.
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehiculomatriculaNavigation.Matricula)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NroOrden" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
