@model AEFINAL.Models.Registro

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Registro</h1>

<h3>Los cambios que realices no podran dar marcha atrás</h3>
<div>
    <h4>Registro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Servicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Servicio.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehiculomatriculaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehiculomatriculaNavigation.Matricula)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NroOrden" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="btn btn-dark" asp-action="Index">Volver al listado</a>
    </form>
</div>
