@model AEFINAL.Models.Registro

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del registro</h1>

<div>
    <h4>Registro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Servicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Servicio.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehiculomatriculaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehiculomatriculaNavigation.Matricula)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NroOrden">Editar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>
